<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Change Password</h3>
        </div>
    </div>

    <div class="card card-small mb-4">
        <div class="card-header border-bottom bg-primary">
            <h6 class="m-0">Change Password here</h6>
        </div>
        <div class="card-body ">
            <form class="form-horizontal" #userdata="ngForm" method=" post ">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Old password <span class="star">*</span> :</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="oldpswd" [(ngModel)]="oldpswd" placeholder="Enter old password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>New password <span class="star">*</span> :</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control" name="newpswd" [(ngModel)]="newpswd" placeholder="Enter new password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm password <span class="star">*</span> :</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="cpswd" [(ngModel)]="cpswd" placeholder="Enter confirm password" required>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-md btn-success float-right" (click)="change();">Confirm</button>
        </div>
    </div>

</div>