<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">New company on boarding</h3>
        </div>
    </div>

    <div class="card card-small mb-4">
        <div class="card-header border-bottom bg-primary">
            <h6 class="m-0">Add company</h6>
        </div>
        <div class="card-body ">
            <form class="form-horizontal" #userdata="ngForm" method=" post ">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-right" for=" ">Company name : </label>
                    <div class="col-md-9">
                        <input class="form-control " id=" " type="text" name="cname" [(ngModel)]="cname" placeholder=" Enter Company name here. " required>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-md-3 col-form-label text-right" for=" ">Owner name : </label>
                    <div class="col-md-9">
                        <input class="form-control " id=" " type="text" name="ownername" [(ngModel)]="ownername" placeholder=" Enter Company owner name.. " required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-right" for=" ">Email : </label>
                    <div class="col-md-9">
                        <input class="form-control " id=" " type="email" name="email" [(ngModel)]="email" placeholder=" Enter email here.. " required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-right" for=" ">password : </label>
                    <div class="col-md-9">
                        <input class="form-control " id=" " type="password" name="password" [(ngModel)]="password" placeholder=" Enter password here.. " required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label text-right" for=" ">Confirm password : </label>
                    <div class="col-md-9">
                        <input class="form-control " id=" " type="password" name="cpassword" [(ngModel)]="cpassword" placeholder=" Confirm your password here.. " required>
                        <h6 class="text-danger">{{message}}</h6>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-md-3 col-form-label text-right" for=" ">mobile : </label>
                    <div class="col-md-9">
                        <input class="form-control " id=" " type="number" name="mobile" [(ngModel)]="mobile" placeholder=" Enter mobile number.. " required>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-md-3 col-form-label text-right" for=" ">Alternate mobile : </label>
                    <div class="col-md-9">
                        <input class="form-control " id=" " type="number" name="Amobile" [(ngModel)]="Amobile" placeholder=" Enter Alternate number.. " required>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-md-3 col-form-label text-right" for=" ">Company address : </label>
                    <div class="col-md-9">
                        <textarea name="caddress" class="form-control" placeholder="write something about your project.." id="" [(ngModel)]="caddress" cols="127" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-md-3 col-form-label text-right" for=" ">Project name : </label>
                    <div class="col-md-9">
                        <select class="form-control " name="projectcode" [(ngModel)]="projectcode" required>
                            <option *ngFor="let x of pclistdata" value="{{x.projectcode}}">{{x.projectcode}}-{{x.projectname}}</option>
                            </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer ">
            <button class="btn btn-primary btn-md float-right " (click)="onadd();"> ADD</button>
            <br>
            <br>
        </div>
    </div>

</div>