<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="assets/adminLogo.png" alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">Administration</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
        <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
    </form>
    <div class="nav-wrapper">
        <ul class="nav flex-column">
            <!-- <li class="nav-item">
                <a class="nav-link " href="/" routerLinkActive="active">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li> -->
            <!-- <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons"></i>
            <span>Hospital</span>
          </a>
          <div class="dropdown-menu dropdown-menu-small" >
            <a class="nav-link " routerLink="/addHospital" routerLinkActive="active" >Add</a>
            <a class="dropdown-item " routerLink="/updateHospital" routerLinkActive="active" >Update</a>
          </div>
        </li> -->
            <!-- <li class="nav-item">
          <a class="nav-link " routerLink="/addHospital" routerLinkActive="active" >
            <i class="material-icons">note_add</i>
            <span>Add Hospital</span>
          </a>
        </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/otpverification" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>Otp verification</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Secretecodevalid" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>Secretecode valid</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/otplist" routerLinkActive="active">
                    <i class="material-icons">note_add  </i>
                    <span>OTP List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/projectregister" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>Add project</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/addcompany" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>Add company</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/chngpwsd" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>Change password</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/admin/projectmasterlist" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>project list</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link " routerLink="/adddeliverystaff" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>Add Delivery staff</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/listdeliverystaff" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>All Delivery staff details</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/kitallstocks" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>All Stock</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/orderlist" routerLinkActive="active">
                    <i class="material-icons">note_add</i>
                    <span>Order List</span>
                </a>
            </li> -->


        </ul>
    </div>
</aside>